header {

    text-align: center;
    font-size: 30px;
    font-style: italic;

    
}

.mainContainer {

    text-align: center;
    font-size: 50px;
    

}

body {
    
    animation-name: example;
    animation-duration: 300s;
}

@keyframes example {
    from {background-color: yellowgreen;}
    to {background-color: hsla(313, 89%, 45%, 0.514);}


}

#alphagame {
    color: red;
    
}