header {

    text-align: center;
    font-size: 50px;
    font-style: italic;

    
}




.mainContainer {

    text-align: center;
    font-size: 50px;
    margin: 250px;
    padding: 50px;
    animation-name: example;
    animation-duration: 600s;

}

body {
     background-color: orange;
    
     
}

@keyframes example {
    from {background-color: yellowgreen;}
    to {background-color: hsla(313, 89%, 45%, 0.514);}


}

#alphagame {
    color: red;
    
    
}